body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 320px;

  font-family:
    "Poppins",
    "Segoe UI",
    Arial,
    sans-serif;
  line-height: 1.6;
}

code {
  font-family:
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    monospace;
}
